html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 15px;
}
.lb{
    left: 87px !important;
}
.key_input{
    width: 51% !important;
}
.key_block{
    display: flex;
    justify-content: center;
}
.mt{
    margin-top: 30px;
}
.btn_custom{
    width: 51% !important;
}