html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}
.lb{
    left: 109px !important;
}
.key_input{
    width: 42% !important;
}
.key_block{
    display: flex;
    justify-content: center;
}